@charset "UTF-8";
/*
 * 规范
 * 1.元素保证3个样式以内的语义化名称，特殊情况可以4个。分别代表实例样式（例：defaults）、覆盖样式(cover-)、状态样式(status- 例：opened)、特殊样式(select- 例：选择器)。
 * 2.variables,extend,mixin,sprites
 * 3.切割Component规则：
 *    1）行列为1级标签
 *    2）二级嵌套时，SASS书写方式变成结构化 即@at-root {} 且HTMLComponent要有容器。
 *    3）二级以下如果是栏目的话，即为Component
 *    4）Component可以复用的，要提到css.scss文件内。Component内部不需要@at-root {}，内部要写element>class格式。
 *    5）Component不可复用的，或仅仅只有一小部分变化的。用覆盖样式解决。
 * 4.不可继承写法的元素：
 *    1）a标签
 *    2）form标签
 */
/*
 * Hex-to-HSL-Color
 * Convert All to HSLA (force alpha): shift+ctrl+alt+U
 */
.compare-layer > .compare-list-act > div, .compare-layer > .compare-layer-box > .compare-layer-list > li > .img-rounded, .header > .head-top > a, .header > .head-top > a > img.logo, .header > .head-top > a > span.beta, .header > .head-top > .head-nav, .header > .head-top > .head-nav > li, .header > .head-top > .head-seach, .header > .head-top > .head-seach > .head-search-popup > .seach-popup-list > li > a > div.home-search-box {
  float: left; }

.popup-box > h2 > span, .compare-layer > .compare-layer-tit > .compare-layer-switch, .header > .head-top .user-info, .head-notice, .head-notice > .head-new-popup > .new-popup-tit > .set-btn {
  float: right; }

.head-notice > .notice-new {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0); }

.header > .head-top > .head-seach > .head-search-popup > .seach-popup-list > li > a > div.home-search-right > p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

@font-face {
  font-family: "radar-icon";
  src: url("../fonts/icons/radar-icon.eot");
  src: url("../fonts/icons/radar-icon.eot?#iefix") format("eot"), url("../fonts/icons/radar-icon.woff2") format("woff2"), url("../fonts/icons/radar-icon.woff") format("woff"), url("../fonts/icons/radar-icon.ttf") format("truetype"), url("../fonts/icons/radar-icon.svg#radar-icon") format("svg"); }
.icon-arrow-right-red:before, .icon-arrow-right:before, .icon-calendar:before, .icon-chevron-down:before, .icon-close:before, .icon-contact-blog:before, .icon-contact-email:before, .icon-contact-wechat:before, .icon-copy:before, .icon-flag:before, .icon-flagwhite:before, .icon-loading:before, .icon-location:before, .icon-logo-txt:before, .icon-logo:before, .icon-message:before, .icon-orange-index:before, .icon-question:before, .icon-sign-bg:before {
  font-family: "radar-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-decoration: none;
  text-transform: none; }

.icon-arrow-right-red:before {
  content: ""; }

.icon-arrow-right:before {
  content: ""; }

.icon-calendar:before {
  content: ""; }

.icon-chevron-down:before {
  content: ""; }

.icon-close:before {
  content: ""; }

.icon-contact-blog:before {
  content: ""; }

.icon-contact-email:before {
  content: ""; }

.icon-contact-wechat:before {
  content: ""; }

.icon-copy:before {
  content: ""; }

.icon-flag:before {
  content: ""; }

.icon-flagwhite:before {
  content: ""; }

.icon-loading:before {
  content: ""; }

.icon-location:before {
  content: ""; }

.icon-logo-txt:before {
  content: ""; }

.icon-logo:before {
  content: ""; }

.icon-message:before {
  content: ""; }

.icon-orange-index:before {
  content: ""; }

.icon-question:before {
  content: ""; }

.icon-sign-bg:before {
  content: ""; }

.svg-404-4, .svg-404-oops, .svg-404-radar, .svg-crown, .svg-home-analyze, .svg-home-company, .svg-home-export, .svg-home-report, .svg-home-search, .svg-home-ticket, .svg-loading, .svg-milestone, .svg-news, .svg-radar-logo, .svg-radarlogo {
  background: url("../images/radar-sprite-c0d94dc1.svg") no-repeat; }

.svg-404-4 {
  background-position: 0 54.199261992619924%;
  width: 123px;
  height: 143px; }

.svg-404-oops {
  background-position: 52.286282306163024% 46.043887147335425%;
  width: 94px;
  height: 95px; }

.svg-404-radar {
  background-position: 26.914660831509845% 53.605839416058394%;
  width: 140px;
  height: 140px; }

.svg-crown {
  background-position: 90.31657355679702% 39.6972972972973%;
  width: 60px;
  height: 44px; }

.svg-home-analyze {
  background-position: 10.80074487895717% 80.52222222222223%;
  width: 60px;
  height: 54px; }

.svg-home-company {
  background-position: 78.98686679174484% 40.35164835164835%;
  width: 64px;
  height: 50px; }

.svg-home-export {
  background-position: 48.79406307977737% 65.55013550135502%;
  width: 58px;
  height: 45px; }

.svg-home-report {
  background-position: 0 99.96610169491525%;
  width: 50px;
  height: 60px; }

.svg-home-search {
  background-position: 0 82.82285714285715%;
  width: 58px;
  height: 64px; }

.svg-home-ticket {
  background-position: 66.97936210131333% 41.965714285714284%;
  width: 64px;
  height: 64px; }

.svg-loading {
  background-position: 95.78207381370827% 38.15064935064935%;
  width: 28px;
  height: 29px; }

.svg-milestone {
  background-position: 99.65217391304348% 37.855670103092784%;
  width: 22px;
  height: 26px; }

.svg-news {
  background-position: 67.19022687609075% 54.350515463917525%;
  width: 24px;
  height: 26px; }

.svg-radar-logo {
  background-position: 62.74165202108963% 54.63212435233161%;
  width: 28px;
  height: 28px; }

.svg-radarlogo {
  background-position: 0 0;
  width: 596.496px;
  height: 146.88px; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-family: "Lantinghei SC", "Open Sans", Arial, "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", "STHeiti", "WenQuanYi Micro Hei", SimSun, sans-serif;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

input, textarea, button {
  outline: none; }

/*------------------ reset.css end ------------------*/
/*------------------ edward v1.1 for mobile 2015/06/17 ------------------*/
:root {
  font-size: 10px; }

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #333; }

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #333; }

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #333; }

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #333; }

*, *:before, *:after {
  /* box-sizing: border-box; */
  transition: all .3s; }

html, body {
  min-height: 100vh;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
  outline: none; }

body {
  position: relative;
  padding-bottom: 230px;
  font: 14px/1.5 arial, tahoma, Verdana, Microsoft YaHei, simhei; }

a {
  color: #333;
  text-decoration: none; }

a:visited {
  color: #333; }

a:focus {
  color: #369; }

a:hover {
  color: #ff1a17; }

a:active {
  color: #000; }

a:hover, a:focus {
  text-decoration: underline; }

a > img {
  vertical-align: middle; }

/* -------------------- edward end -------------------- */
@font-face {
  font-family: 'iconfont';
  src: url("//at.alicdn.com/t/font_1470294571_403031.eot");
  /* IE9*/
  src: url("//at.alicdn.com/t/font_1470294571_403031.eot?#iefix") format("embedded-opentype"), url("//at.alicdn.com/t/font_1470294571_403031.woff") format("woff"), url("//at.alicdn.com/t/font_1470294571_403031.ttf") format("truetype"), url("//at.alicdn.com/t/font_1470294571_403031.svg#iconfont") format("svg");
  /* iOS 4.1- */ }
.iconfont {
  font-family: "iconfont";
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px; }

/* -------------------- myStyle end -------------------- */
body input[disabled="true"] {
  background-color: #f0f4f7; }
body .icheckbox_flat-red {
  transition: none; }
div.no-data {
  width: 100%;
  padding: 20px 0;
  text-align: center;
  position: relative; }
  div.no-data > span {
    display: inline-block; }
    div.no-data > span > i.iconfont {
      display: inline-block;
      line-height: 210px; }
    div.no-data > span.icon-1 {
      position: absolute;
      top: 20px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 10; }
      div.no-data > span.icon-1 > i.iconfont {
        font-size: 80px;
        color: #8d9aa5; }
    div.no-data > span.icon-2 {
      margin-left: -14px; }
      div.no-data > span.icon-2 > i.iconfont {
        font-size: 210px;
        color: #8d9aa5;
        opacity: .1; }
  div.no-data > p {
    font: normal 14px/30px Microsoft YaHei, simhei;
    color: #8d9aa5; }

h3 {
  font: normal 20px/50px Microsoft YaHei, simhei;
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #20242b; }
  h3 > b {
    margin-right: 15px;
    color: #ff4d37; }

.far-back {
  position: fixed;
  z-index: 1000;
  right: 15px;
  bottom: 100px; }
  .far-back > li {
    width: 46px;
    height: 46px;
    background-color: #fff;
    border: 1px solid #e1e8ee;
    text-align: center;
    line-height: 46px;
    color: #8a99a6; }
    .far-back > li > a {
      text-decoration: none;
      transition: none; }
    .far-back > li span {
      display: none;
      line-height: 23px; }
    .far-back > li [class^=icon] {
      font-size: 22px;
      color: #8999A7; }
    .far-back > li:not(.far-gotop):hover {
      border: 1px solid #ff4d37; }
      .far-back > li:not(.far-gotop):hover [class^=icon] {
        display: none; }
      .far-back > li:not(.far-gotop):hover span {
        display: block;
        color: #F67156; }
  .far-back > li:last-child {
    border-top: none; }
  .far-back > li.feedback {
    position: relative; }
    .far-back > li.feedback:hover > div.feedback-qr {
      display: block; }
    .far-back > li.feedback:hover > span {
      color: #5e6977;
      cursor: pointer; }
    .far-back > li.feedback > div.feedback-qr {
      display: none;
      position: absolute;
      left: -93px;
      top: -200px;
      width: 140px;
      height: 180px;
      border-radius: 4px;
      background-color: #eee;
      box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.15);
      color: #8a99a6; }
      .far-back > li.feedback > div.feedback-qr:after {
        content: "";
        position: absolute;
        right: 14px;
        bottom: -20px;
        display: block;
        width: 0;
        height: 0;
        border-width: 10px;
        border-color: #eee transparent transparent transparent;
        border-style: solid dashed dashed dashed;
        z-index: 10; }
      .far-back > li.feedback > div.feedback-qr > div.qr-top {
        width: 140px;
        height: 140px;
        padding: 10px;
        background-color: #fff; }
        .far-back > li.feedback > div.feedback-qr > div.qr-top > img {
          display: block;
          width: 100%;
          height: 100%; }
      .far-back > li.feedback > div.feedback-qr > p {
        font: normal 16px/40px Microsoft YaHei, simhei;
        text-align: center; }
    .far-back > li.feedback > span {
      display: block;
      width: 100%;
      height: 100%; }
  .far-back > li.far-gotop {
    opacity: 0; }
    .far-back > li.far-gotop:hover {
      color: #f67156;
      cursor: pointer; }
    .far-back > li.far-gotop > i.iconfont {
      font-size: 34px; }

/* ------------------ far-back ------------------ */
button.album {
  background-color: #f67156; }
  button.album:hover {
    background-color: #e86a51; }
  button.album:active {
    background-color: #d16049; }

button.trace {
  background-color: #69cfe8; }
  button.trace:hover {
    background-color: #63c3db; }
  button.trace:active {
    background-color: #5ab1c7; }

button.compare {
  background-color: #98d265; }
  button.compare:hover {
    background-color: #8ec45e; }
  button.compare:active {
    background-color: #81b356; }

button.excel {
  background-color: #f9cb58; }
  button.excel:hover {
    background-color: #ebbf52; }
  button.excel:active {
    background-color: #d9b14c; }

.popup-box {
  background-color: #f6f8fa;
  width: 360px;
  padding: 20px;
  margin-left: -180px; }
  .popup-box > h2 {
    font: normal 16px/20px Microsoft YaHei, simhei;
    margin: 0 0 20px; }
    .popup-box > h2 > span {
      cursor: pointer; }
  .popup-box .popup-textarea {
    width: 100%;
    height: 200px;
    padding: 8px 5px;
    resize: none;
    border: 1px solid #e1e8ee;
    border-radius: 4px; }
  .popup-box .popup-album-list {
    width: 100%;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    background-color: #fff;
    max-height: 176px;
    overflow-x: hidden;
    overflow-y: auto; }
    .popup-box .popup-album-list > li {
      width: 100%;
      height: 35px;
      text-align: center;
      font: normal 14px/34px Microsoft YaHei, simhei;
      border-bottom: 1px solid #e3e3e3; }
      .popup-box .popup-album-list > li:last-child {
        border: none; }
      .popup-box .popup-album-list > li.active {
        color: #ff4d37; }
      .popup-box .popup-album-list > li span {
        cursor: default; }
      .popup-box .popup-album-list > li.active {
        color: #f67156; }
  .popup-box .input-group {
    width: 100%;
    height: 36px;
    margin-top: 15px; }
    .popup-box .input-group > .form-control {
      border-color: #e3e3e3;
      height: 36px;
      padding: 4px 10px;
      margin: 0; }
    .popup-box .input-group > .input-group-btn {
      width: 60px;
      height: 36px; }
      .popup-box .input-group > .input-group-btn > .btn {
        background-color: #b9cad7;
        width: 60px;
        height: 36px;
        border-radius: 0 4px 4px 0;
        color: #fff;
        font: normal 14px/36px Microsoft YaHei, simhei;
        padding: 0;
        margin: 0; }
      .popup-box .input-group > .input-group-btn > .status-has {
        background-color: #f67156; }
  .popup-box .album-btn-box {
    position: absolute;
    bottom: -51px;
    left: 50%;
    margin-left: -90px;
    width: 180px;
    height: 38px;
    text-align: center;
    border-radius: 4px;
    font: normal 14px/38px Microsoft YaHei, simhei;
    background-color: #b9cad7;
    color: #fff;
    z-index: 10000; }
  .popup-box > .sa-button-container button {
    width: 180px;
    height: 36px;
    font: normal 14px/36px Microsoft YaHei, simhei;
    margin: 15px 0 0;
    padding: 0; }

.compare-layer {
  width: 250px;
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 10000;
  background-color: #fff; }
  .compare-layer > .compare-list-act {
    position: absolute;
    top: -70px;
    left: 0;
    width: auto;
    padding: 10px 5px;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    opacity: 0.8;
    border-radius: 10px;
    display: none; }
    .compare-layer > .compare-list-act.shock {
      display: block;
      animation: shock 1s ease-out backwards; }
    .compare-layer > .compare-list-act > div {
      display: inline-block;
      width: 40px;
      height: 40px;
      margin: 0 10px; }
  .compare-layer > .compare-layer-tit {
    font: normal 13px/40px Microsoft YaHei, simhei;
    height: 40px;
    padding: 0 20px;
    background-color: #f67156;
    color: #fff;
    cursor: pointer; }
    .compare-layer > .compare-layer-tit > .compare-layer-switch {
      display: inline-block;
      width: 12px;
      height: 12px;
      margin-top: -4px; }
      .compare-layer > .compare-layer-tit > .compare-layer-switch > em {
        display: inline-block;
        width: 6px;
        height: 6px;
        border-bottom: 2px solid #fff;
        transition: all 0.6s ease-in; }
    .compare-layer > .compare-layer-tit > .unfold-btn > em:nth-child(1) {
      transform: rotate(-45deg); }
    .compare-layer > .compare-layer-tit > .unfold-btn > em:nth-child(2) {
      transform: rotate(45deg); }
  .compare-layer > .compare-layer-box {
    display: none;
    width: 100%; }
    .compare-layer > .compare-layer-box > .compare-layer-list > li {
      position: relative;
      display: inline-block;
      width: 100%;
      padding: 20px;
      height: 80px;
      border-bottom: 1px solid #f0f4f7;
      vertical-align: middle; }
      .compare-layer > .compare-layer-box > .compare-layer-list > li > .img-rounded {
        display: inline-block;
        width: 40px;
        height: 40px; }
      .compare-layer > .compare-layer-box > .compare-layer-list > li > p {
        width: 194px;
        padding-left: 60px;
        font: normal 14px/40px Microsoft YaHei, simhei; }
      .compare-layer > .compare-layer-box > .compare-layer-list > li > .remove-btn {
        position: absolute;
        top: 50%;
        right: 20px;
        margin-top: -7px;
        display: inline-block;
        width: 14px;
        height: 14px;
        line-height: 14px;
        cursor: pointer; }
        .compare-layer > .compare-layer-box > .compare-layer-list > li > .remove-btn > .iconfont {
          font-size: 12px;
          color: #b4bcc3; }
    .compare-layer > .compare-layer-box > .compare-layer-btn {
      width: 210px;
      height: 36px;
      margin: 20px;
      background-color: #f67156;
      border: none;
      border-radius: 4px;
      color: #fff;
      font: normal 14px/36px Microsoft YaHei, simhei; }

.sweet-alert {
  transition: none; }

/* ------------------- 购物车动画 ------------------- */
img.parabola {
  opacity: 0.8;
  animation: parabola .5s ease-out .2s forwards; }

@keyframes parabola {
  0% {
    opacity: 0.8;
    transform: scale(1); }
  99% {
    opacity: 0.8;
    transform: scale(0.8); }
  100% {
    opacity: 0.1;
    transform: scale(0.1); } }
@keyframes shock {
  0% {
    opacity: 0.8;
    transform: translateY(0) scale(1) rotateX(0deg); }
  50% {
    opacity: 1;
    transform: translateY(-10px) scale(1.1) rotateX(0deg); }
  100% {
    opacity: 0;
    transform: translateY(100px) scale(0) rotateX(-90deg); } }
.echart-watermark {
  background: url(../images/logo_huise.png) center center no-repeat; }

/* ------------------- 隐藏需要 两端对其 的元素 ------------------- */
.select-alignment {
  display: none; }

.export-all-box, .export-oversize-box {
  border-top: 6px solid #f67156;
  color: #5E6977; }
  .export-all-box > .far-closed, .export-oversize-box > .far-closed {
    font-size: 16px; }
    .export-all-box > .far-closed > .iconfont, .export-oversize-box > .far-closed > .iconfont {
      color: #B9CAD7 !important;
      font-size: 12px; }
  .export-all-box > .far-main, .export-oversize-box > .far-main {
    padding: 0; }
    .export-all-box > .far-main > .export-all-content, .export-oversize-box > .far-main > .export-all-content {
      padding: 0 30px 10px; }
      .export-all-box > .far-main > .export-all-content > .huiyuan-img, .export-oversize-box > .far-main > .export-all-content > .huiyuan-img {
        width: 100%; }
      .export-all-box > .far-main > .export-all-content > p, .export-oversize-box > .far-main > .export-all-content > p {
        margin: 10px 0;
        text-align: center; }
        .export-all-box > .far-main > .export-all-content > p > span, .export-all-box > .far-main > .export-all-content > p > .exported, .export-oversize-box > .far-main > .export-all-content > p > span, .export-oversize-box > .far-main > .export-all-content > p > .exported {
          color: #ff4d37; }
        .export-all-box > .far-main > .export-all-content > p > .download-excel, .export-oversize-box > .far-main > .export-all-content > p > .download-excel {
          cursor: pointer; }
      .export-all-box > .far-main > .export-all-content > ul > li, .export-oversize-box > .far-main > .export-all-content > ul > li {
        display: inline-block;
        margin-right: 10px;
        margin-bottom: 10px; }
        .export-all-box > .far-main > .export-all-content > ul > li:nth-of-type(2n), .export-oversize-box > .far-main > .export-all-content > ul > li:nth-of-type(2n) {
          margin-right: 0; }
        .export-all-box > .far-main > .export-all-content > ul > li.has-exported > a, .export-oversize-box > .far-main > .export-all-content > ul > li.has-exported > a {
          color: #8A99A6; }
          .export-all-box > .far-main > .export-all-content > ul > li.has-exported > a:hover, .export-oversize-box > .far-main > .export-all-content > ul > li.has-exported > a:hover {
            border-color: #e1e8ee;
            color: #8A99A6; }
        .export-all-box > .far-main > .export-all-content > ul > li > a, .export-oversize-box > .far-main > .export-all-content > ul > li > a {
          display: inline-block;
          border-radius: 4px;
          border: 1px solid #b9cad7;
          line-height: 30px;
          width: 180px;
          text-align: center;
          text-decoration: none; }
          .export-all-box > .far-main > .export-all-content > ul > li > a:hover, .export-oversize-box > .far-main > .export-all-content > ul > li > a:hover {
            border-color: #f67156;
            color: #f67156; }
      .export-all-box > .far-main > .export-all-content > span, .export-oversize-box > .far-main > .export-all-content > span {
        color: #8A99A6;
        font-size: 12px; }
  .export-all-box.no-meiqia, .export-oversize-box.no-meiqia {
    border-top: none; }
    .export-all-box.no-meiqia > .far-main, .export-oversize-box.no-meiqia > .far-main {
      padding: 0; }
      .export-all-box.no-meiqia > .far-main > .export-all-box, .export-oversize-box.no-meiqia > .far-main > .export-all-box {
        min-height: 120px; }

.no-footer > .far-footer {
  display: none; }

.no-cancel > .far-footer > .far-cancel {
  display: none; }

.export-oversize-box > div.far-footer > button.far-cancel, .export-success > div.far-footer > button.far-cancel {
  display: none; }

.export-success > div.far-closed > i.iconfont {
  display: none; }

.export-contact-box > .far-footer > .far-cancel {
  display: none; }
.export-contact-box > .far-footer > .far-contact {
  background-color: #ccc; }

/* -------------------- edward end -------------------- */
.header {
  width: 100%;
  height: 80px;
  background-color: #20242b; }
  .header > .head-top {
    margin: 0 auto 0;
    width: 1200px;
    height: 76px;
    padding: 0 20px; }
    .header > .head-top > a {
      display: inline-block;
      width: 180px;
      height: 76px; }
      .header > .head-top > a > img.logo {
        width: 144px;
        height: 76px; }
      .header > .head-top > a > span.beta {
        font: normal 13px/1.5 Microsoft YaHei, simhei;
        padding: 20px 0 0 6px;
        color: #ff4d37; }
    .header > .head-top > .head-nav {
      height: 80px;
      margin: 0; }
      .header > .head-top > .head-nav > li {
        min-width: 70px;
        height: 100%;
        font: normal 16px/76px Microsoft YaHei, simhei;
        transition: none; }
        .header > .head-top > .head-nav > li > a {
          display: block;
          text-align: center;
          width: 100%;
          height: 100%;
          padding: 0 10px;
          transition: none; }
          .header > .head-top > .head-nav > li > a, .header > .head-top > .head-nav > li > a:link {
            color: #8d9aa5; }
        .header > .head-top > .head-nav > li.unhref > a {
          color: #3a3a39;
          cursor: default; }
          .header > .head-top > .head-nav > li.unhref > a:hover {
            text-decoration: none;
            background-color: #20242b;
            color: #3a3a39; }
        .header > .head-top > .head-nav > li.active, .header > .head-top > .head-nav > li:hover {
          border-top: 4px solid #ff4d37;
          background-color: #242b33; }
          .header > .head-top > .head-nav > li.active > a, .header > .head-top > .head-nav > li:hover > a {
            margin-top: -4px;
            color: #ff4d37;
            text-decoration: none; }
    .header > .head-top > .head-seach {
      position: relative;
      margin-left: 5px;
      width: 260px;
      height: 76px;
      padding-top: 17px; }
      .header > .head-top > .head-seach :-moz-placeholder {
        /* Mozilla Firefox 4 to 18 */
        color: #8a99a6; }
      .header > .head-top > .head-seach ::-moz-placeholder {
        /* Mozilla Firefox 19+ */
        color: #8a99a6; }
      .header > .head-top > .head-seach input:-ms-input-placeholder, .header > .head-top > .head-seach textarea:-ms-input-placeholder {
        color: #8a99a6; }
      .header > .head-top > .head-seach input::-webkit-input-placeholder, .header > .head-top > .head-seach textarea::-webkit-input-placeholder {
        color: #8a99a6; }
      .header > .head-top > .head-seach > .inner {
        border: 1px solid #52575c;
        border-radius: 4px; }
        .header > .head-top > .head-seach > .inner > input {
          height: 36px;
          width: 200px;
          padding: 10px 15px;
          font: normal 16px/1.5 Microsoft YaHei, simhei;
          border: 0px;
          background: none;
          color: #8d9aa5;
          font-size: 14px; }
        .header > .head-top > .head-seach > .inner > .search-btn {
          float: right;
          background-color: #444a50;
          height: 38px;
          line-height: 36px;
          padding: 0 20px;
          text-decoration: none;
          color: #fff;
          border-top-right-radius: 4px;
          border-bottom-right-radius: 4px;
          margin-top: -1px;
          margin-right: -1px; }
          .header > .head-top > .head-seach > .inner > .search-btn > .iconfont {
            font-size: 18px; }
          .header > .head-top > .head-seach > .inner > .search-btn:hover {
            color: #fff;
            background-color: #e04a0b; }
      .header > .head-top > .head-seach > .head-search-popup {
        display: none;
        position: absolute;
        top: 63px;
        left: 0;
        width: 300px;
        min-height: 80px;
        max-height: 530px;
        overflow: hidden;
        background-color: #fff;
        box-shadow: 0 0 8px rgba(155, 162, 172, 0.8);
        z-index: 1000;
        border-radius: 4px; }
@keyframes rotate {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
        .header > .head-top > .head-seach > .head-search-popup a {
          text-decoration: none; }
        .header > .head-top > .head-seach > .head-search-popup.active {
          display: block; }
        .header > .head-top > .head-seach > .head-search-popup.loading:before {
          content: '';
          display: block;
          height: 24px;
          width: 24px;
          background: url(../images/loading.svg) no-repeat center;
          margin: 28px 0 0 138px;
          animation-name: rotate;
          animation-duration: 3s;
          animation-iteration-count: infinite;
          animation-timing-function: linear; }
        .header > .head-top > .head-seach > .head-search-popup.loading > a, .header > .head-top > .head-seach > .head-search-popup.loading > p, .header > .head-top > .head-seach > .head-search-popup.loading > ul {
          display: none; }
        .header > .head-top > .head-seach > .head-search-popup > .search-all, .header > .head-top > .head-seach > .head-search-popup > .seach-popup-tit {
          display: block;
          background: url(../images/arrow-right.svg) no-repeat 280px center; }
          .header > .head-top > .head-seach > .head-search-popup > .search-all:hover, .header > .head-top > .head-seach > .head-search-popup > .seach-popup-tit:hover {
            background-image: url(../images/arrow-right-red.svg); }
        .header > .head-top > .head-seach > .head-search-popup > .search-all {
          padding: 10px 20px;
          font-weight: 500; }
          .header > .head-top > .head-seach > .head-search-popup > .search-all:hover {
            color: #f67156; }
        .header > .head-top > .head-seach > .head-search-popup > .seach-popup-tit {
          width: 100%;
          vertical-align: middle;
          padding: 6px 20px;
          background-color: #f6f8fa;
          font: normal 13px/28px Microsoft YaHei, simhei;
          color: #8a99a6; }
          .header > .head-top > .head-seach > .head-search-popup > .seach-popup-tit > span, .header > .head-top > .head-seach > .head-search-popup > .seach-popup-tit > a {
            line-height: 28px;
            vertical-align: bottom; }
          .header > .head-top > .head-seach > .head-search-popup > .seach-popup-tit > a {
            float: right;
            padding-right: 5px; }
          .header > .head-top > .head-seach > .head-search-popup > .seach-popup-tit:hover > a {
            color: #f67156; }
        .header > .head-top > .head-seach > .head-search-popup > .seach-popup-list {
          width: 100%;
          max-height: 156px;
          overflow-x: hidden;
          overflow-y: auto; }
          .header > .head-top > .head-seach > .head-search-popup > .seach-popup-list > li {
            width: 100%;
            padding: 8px 20px; }
            .header > .head-top > .head-seach > .head-search-popup > .seach-popup-list > li > a:hover {
              text-decoration: none; }
            .header > .head-top > .head-seach > .head-search-popup > .seach-popup-list > li > a > div.home-search-box {
              width: 37px;
              height: 37px;
              border: 1px solid #e1e8ee;
              border-radius: 4px; }
              .header > .head-top > .head-seach > .head-search-popup > .seach-popup-list > li > a > div.home-search-box > img {
                display: none; }
            .header > .head-top > .head-seach > .head-search-popup > .seach-popup-list > li > a > div.home-search-right {
              width: 100%;
              height: 36px;
              padding-left: 50px; }
              .header > .head-top > .head-seach > .head-search-popup > .seach-popup-list > li > a > div.home-search-right > p {
                width: 100%;
                height: 18px;
                font: normal 13px/18px Microsoft YaHei, simhei;
                color: #8a99a6; }
                .header > .head-top > .head-seach > .head-search-popup > .seach-popup-list > li > a > div.home-search-right > p:first-child {
                  color: #43484d;
                  font-size: 14px; }
                  .header > .head-top > .head-seach > .head-search-popup > .seach-popup-list > li > a > div.home-search-right > p:first-child:hover {
                    color: #f67156; }
            .header > .head-top > .head-seach > .head-search-popup > .seach-popup-list > li.control, .header > .head-top > .head-seach > .head-search-popup > .seach-popup-list > li:hover {
              background-color: #fafafa; }
        .header > .head-top > .head-seach > .head-search-popup > .seach-popup-more {
          display: inline-block;
          width: 100%;
          height: 30px;
          font: normal 13px/30px Microsoft YaHei, simhei;
          text-align: center;
          color: #8a99a6;
          cursor: pointer; }
          .header > .head-top > .head-seach > .head-search-popup > .seach-popup-more:hover {
            color: #f67156;
            background-color: #fafafa; }
    .header > .head-top .user-info {
      position: relative;
      height: 76px;
      padding: 14px 0;
      z-index: 10000; }
      .header > .head-top .user-info > .update-tip {
        visibility: visible;
        display: inline-block;
        color: #ff4d37;
        border: 1px solid #ff4d37;
        border-radius: 12px;
        height: 24px;
        font-size: 12px;
        line-height: 24px;
        padding: 0 8px;
        text-decoration: none;
        margin-right: 10px; }
        .header > .head-top .user-info > .update-tip:hover {
          background-color: #ff4d37;
          color: #fff; }
      .header > .head-top .user-info > .user-icon {
        display: inline-block;
        position: relative; }
        .header > .head-top .user-info > .user-icon img {
          width: 48px;
          height: 48px; }
        .header > .head-top .user-info > .user-icon:hover > .user-set {
          display: block; }
        .header > .head-top .user-info > .user-icon > .user-set {
          display: none;
          background-color: #fff;
          position: absolute;
          top: 62px;
          left: -46px;
          width: 136px;
          border-radius: 4px;
          box-shadow: 0 0 8px rgba(155, 162, 172, 0.8); }
          .header > .head-top .user-info > .user-icon > .user-set:before {
            content: "";
            position: absolute;
            left: 50%;
            top: -19px;
            margin-left: -10px;
            display: block;
            width: 0;
            height: 0;
            border-width: 10px;
            border-color: transparent transparent #fff transparent;
            border-style: dashed dashed solid dashed;
            z-index: 11; }
          .header > .head-top .user-info > .user-icon > .user-set:after {
            content: "";
            position: absolute;
            left: 50%;
            top: -20px;
            margin-left: -10px;
            display: block;
            width: 0;
            height: 0;
            border-width: 10px;
            border-color: transparent transparent #e3e3e3 transparent;
            border-style: dashed dashed solid dashed;
            z-index: 10; }
          .header > .head-top .user-info > .user-icon > .user-set > li {
            width: 100%;
            height: 36px;
            border-bottom: 1px solid #e1e8ee;
            font: normal 14px/36px Microsoft YaHei, simhei;
            text-align: center; }
            .header > .head-top .user-info > .user-icon > .user-set > li:last-child {
              border: none; }
            .header > .head-top .user-info > .user-icon > .user-set > li > a {
              color: #8a99a6; }
              .header > .head-top .user-info > .user-icon > .user-set > li > a:hover {
                color: #f67156;
                text-decoration: none; }
      .header > .head-top .user-info.is-vip > .user-icon:after {
        content: '';
        background: url(../images/booking/vip.svg) no-repeat;
        background-size: 18px 18px;
        position: absolute;
        width: 18px;
        height: 18px;
        bottom: 0;
        right: 0; }
      .header > .head-top .user-info.is-vip > .update-tip {
        visibility: hidden; }
      img.head-portrait {
        width: 48px;
        height: 48px; }
    .head-notice {
      position: relative;
      z-index: 99;
      line-height: 76px;
      height: 76px;
      padding: 0 10px; }
      .head-notice > .notice-new {
        z-index: 2;
        width: 4px;
        height: 4px;
        background-color: #ff4d37;
        border-radius: 50%; }
      .head-notice > i.iconfont {
        color: #8d9aa5;
        font-size: 26px;
        cursor: pointer; }
      .head-notice > .head-new-popup {
        display: none;
        position: absolute;
        top: 86px;
        right: -70px;
        width: 320px;
        text-align: left;
        border-radius: 4px;
        background-color: #fff;
        box-shadow: 0 0 8px rgba(155, 162, 172, 0.8);
        z-index: 1000; }
        .head-notice > .head-new-popup:before {
          content: "";
          position: absolute;
          right: 88px;
          top: -19px;
          display: block;
          width: 0;
          height: 0;
          border-width: 10px;
          border-color: transparent transparent #fff transparent;
          border-style: dashed dashed solid dashed;
          z-index: 11; }
        .head-notice > .head-new-popup:after {
          content: "";
          position: absolute;
          right: 88px;
          top: -20px;
          display: block;
          width: 0;
          height: 0;
          border-width: 10px;
          border-color: transparent transparent #e3e3e3 transparent;
          border-style: dashed dashed solid dashed;
          z-index: 10; }
        .head-notice > .head-new-popup > .new-popup-tit {
          width: 100%;
          height: 41px;
          padding: 0 16px 0 20px;
          font: normal 16px/40px Microsoft YaHei, simhei; }
          .head-notice > .head-new-popup > .new-popup-tit > .set-btn {
            cursor: pointer; }
        .head-notice > .head-new-popup > .news-box {
          width: 100%;
          max-height: 760px;
          overflow-x: hidden;
          overflow-y: auto; }
          .head-notice > .head-new-popup > .news-box > .new-time {
            width: 100%;
            height: 29px;
            border-top: 1px solid #e1e8ee;
            background-color: #f6f8fa;
            font: normal 13px/28px Microsoft YaHei, simhei;
            color: #b9cad7;
            text-align: center; }
          .head-notice > .head-new-popup > .news-box > .news-list {
            width: 100%;
            padding: 10px 20px; }
            .head-notice > .head-new-popup > .news-box > .news-list > li {
              width: 100%;
              font: normal 13px/38px Microsoft YaHei, simhei; }
              .head-notice > .head-new-popup > .news-box > .news-list > li > a {
                text-decoration: none;
                color: #43484d; }
                .head-notice > .head-new-popup > .news-box > .news-list > li > a > span {
                  color: #f67156; }
          .head-notice > .head-new-popup > .news-box > .news-more {
            display: block;
            width: 100%;
            text-align: center;
            font: normal 13px/40px Microsoft YaHei, simhei;
            color: #8a99a6;
            cursor: pointer; }
            .head-notice > .head-new-popup > .news-box > .news-more:hover {
              background-color: #f7f9fb; }

/*>.btn-group {
  @extend %float-right;
  margin-top: 14px;
  >a>img.head-portrait {
    width: 48px;
    height: 48px;
  }
  >button.head-menu {
    background: none;
    border: 0px;
    color: $white;
    @include yaHei(16px);
  }
}*/
  .header .prompt-info-box {
    position: absolute;
    padding: 15px 30px;
    background-color: #FFFDED;
    border: 1px solid #EEE0B9;
    color: #9B9B9B;
    max-width: 400px;
    min-width: 220px;
    font-size: 14px;
    border-radius: 0;
    text-align: left;
    left: -50%; }
    .header .prompt-info-box > .iconfont {
      position: absolute;
      top: 14px;
      right: 15px;
      font-size: 12px;
      color: #DBB87E;
      cursor: pointer; }
    .header .prompt-info-box > .highlight {
      color: #FF5A00; }
    .header .prompt-info-box:before, .header .prompt-info-box:after {
      content: '';
      display: inline-block;
      border-top: none;
      position: absolute; }
    .header .prompt-info-box:before {
      width: 8px;
      height: 8px;
      border-bottom: 7px solid #EEE0B9;
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
      left: 50%;
      top: -9px;
      transform: translate(-15px); }
    .header .prompt-info-box:after {
      width: 6px;
      height: 6px;
      border-bottom: 6px solid #FFFDED;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      left: 50%;
      top: -6px;
      transform: translate(-14px); }
  .header .tooltip.bottom .tooltip-arrow {
    border-bottom-color: #EEE0B9; }
  .header .tooltip-inner {
    background-color: #FFFDED;
    color: #9B9B9B;
    padding: 15px 35px;
    border: 1px solid #EEE0B9;
    max-width: 400px;
    min-width: 220px;
    font-size: 14px;
    border-radius: 0;
    text-align: left; }
    .header .tooltip-inner p {
      margin-bottom: 10px; }
    .header .tooltip-inner .highlight {
      color: #FF5A00; }
    .header .tooltip-inner .iconfont {
      position: absolute;
      top: 14px;
      right: 10px;
      font-size: 12px;
      color: #DBB87E;
      cursor: pointer; }

.buy-vip-body .header {
  height: 60px;
  background-image: linear-gradient(268deg, #ffa000, #ff9c00 36%, #ff7500 82%, #ff6600); }
  .buy-vip-body .header > .head-top {
    height: 60px; }
    .buy-vip-body .header > .head-top > a {
      height: 60px;
      width: auto;
      line-height: 60px;
      font-size: 16px;
      color: #ffffff;
      font-family: FZLTXHK-GBK1-0;
      text-decoration: none; }
      .buy-vip-body .header > .head-top > a > img.logo {
        height: 60px;
        padding: 12px 0; }
    .buy-vip-body .header > .head-top > span {
      line-height: 60px;
      font-size: 16px;
      color: #ffffff; }

.user-update-tip {
  display: none;
  background-color: #F67156;
  color: #fff;
  left: 0;
  right: 0; }
  .user-update-tip.scroll-top {
    position: fixed;
    top: 0;
    z-index: 999; }
  .user-update-tip.active {
    display: block; }
  .user-update-tip > .inner {
    margin: 0 auto 0;
    width: 1200px;
    padding: 5px 46px;
    background: url(../images/flagwhite.svg) 20px center no-repeat;
    background-size: 16px 16px;
    font-family: "Lantinghei SC"; }
    .user-update-tip > .inner > a {
      color: #fff;
      text-decoration: underline; }
    .user-update-tip > .inner > .user-update-tip-close {
      float: right;
      width: 16px;
      height: 16px;
      text-decoration: none; }

/* ------------------- header ------------------- */
.no-permission-tip {
  display: none;
  background: url(../images/permission-denied.png) no-repeat center 50px;
  padding-top: 190px;
  padding-bottom: 100px;
  text-align: center; }
  .no-permission-tip > p {
    margin-bottom: 20px;
    font-size: 16px; }
  .no-permission-tip > a {
    display: inline-block;
    background-color: #f67156;
    border-radius: 4px;
    line-height: 36px;
    width: 160px;
    color: #fff;
    text-decoration: none; }

.concise-no-permission-tip {
  position: absolute;
  top: 50px;
  right: 20px;
  bottom: 15px;
  left: 20px;
  background-color: #fff;
  text-align: center; }
  .concise-no-permission-tip > a {
    width: 100%;
    text-decoration: underline;
    cursor: pointer;
    color: #ff6a05;
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%); }

.no-permission {
  position: relative; }
  .no-permission .no-permission-tip {
    display: block; }
  .no-permission .concise-no-permission-tip {
    display: block; }

.no-permission-btn {
  background-color: #b9cad7 !important; }

footer.footer {
  width: 100%;
  height: 106px;
  background-image: -webkit-linear-gradient(right, #ff9f00, #ff9c00 7%, #ff7500 75%, #f60);
  background-image: linear-gradient(270deg, #ff9f00, #ff9c00 7%, #ff7500 75%, #f60);
  background-size: 100% 4px;
  background-repeat: no-repeat;
  overflow: auto;
  zoom: 1;
  color: #888;
  clear: both;
  padding-top: 35px;
  position: absolute;
  bottom: 0; }
  footer.footer a, footer.footer a:visited {
    color: #a8a8a8; }
  footer.footer a:hover {
    color: #ff8533; }
  footer.footer .footer-info {
    padding-top: 40px;
    padding-bottom: 50px;
    font-size: .9em;
    overflow: auto !important;
    max-width: 1110px;
    margin: 0 auto;
    padding: 0 1px; }
  footer.footer .footer-info .about-us ul li:hover {
    text-decoration: underline; }
  footer.footer .footer-info .about-us ul li:hover a {
    color: #f60; }
  footer.footer .footer-info .colum {
    float: left;
    padding-right: 7%; }
  footer.footer .footer-info .colum ul li {
    float: left;
    margin-right: 20px; }
  footer.footer .footer-info .colum ul li a {
    color: #666; }
  footer.footer .footer-info .colum ul li:last-of-type {
    margin-right: 0; }
  footer.footer .footer-info .colum b {
    display: block;
    color: #444;
    font-family: FZLTZHK-GBK1-0;
    font-size: 14px; }
  footer.footer .footer-info .colum p {
    font-size: 13px; }
  footer.footer .footer-info .colum:last-child {
    float: right;
    padding-right: 0; }
  footer.footer .footer-info .colum:last-child li {
    margin-bottom: 5px; }
  footer.footer .footer-info .colum input {
    width: 250px;
    height: 40px;
    border-radius: 3px;
    border: 1px solid #cecece;
    padding-left: 10px; }
  footer.footer .footer-info .colum input:focus {
    border: 1px solid #cecece !important; }
  footer.footer .footer-info .colum input ~ .jzbtn {
    width: 70px;
    height: 40px;
    line-height: 38px;
    transform: translateY(-1px);
    color: #fff !important;
    border-color: rgba(0, 0, 0, 0.1);
    background-color: #f60;
    margin-left: -72px;
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #ddd;
    padding: 0 15px;
    margin-right: 5px;
    font-size: .8em;
    font-weight: 400;
    cursor: pointer;
    border-radius: 0;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    text-align: center; }

div.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #43484d; }
  div.footer > .footer-content {
    margin: 0 auto 0;
    width: 1100px; }
    div.footer > .footer-content > .footer-main a[class^=contact] {
      position: relative;
      font-family: "Lantinghei SC";
      color: #E5E5E5;
      font-size: 14px;
      line-height: 80px;
      padding-left: 38px;
      margin-right: 14px;
      text-decoration: none; }
      div.footer > .footer-content > .footer-main a[class^=contact] > i {
        position: absolute;
        display: inline-block;
        background-color: #5e6977;
        background-repeat: no-repeat;
        background-position: center center;
        height: 30px;
        width: 30px;
        border-radius: 50%;
        top: 50%;
        left: 0;
        margin-top: -15px; }
    div.footer > .footer-content .contact-email > i {
      background-image: url(../images/contact-email.svg);
      background-size: 14px 10px; }
    div.footer > .footer-content .contact-blog > i {
      background-image: url(../images/contact-blog.svg);
      background-size: 12px 12px; }
    div.footer > .footer-content .contact-wechat:hover + .feedback-qr {
      display: block; }
    div.footer > .footer-content .contact-wechat > i {
      background-image: url(../images/contact-wechat.svg);
      background-size: 16px 13px; }
    div.footer > .footer-content .contact-wechat + .feedback-qr {
      display: none;
      position: absolute;
      left: 290px;
      top: -165px;
      width: 140px;
      height: 180px;
      border-radius: 4px;
      background-color: #eee;
      box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.15);
      color: #8a99a6; }
      div.footer > .footer-content .contact-wechat + .feedback-qr:after {
        content: "";
        position: absolute;
        right: 14px;
        bottom: -20px;
        display: block;
        width: 0;
        height: 0;
        border-width: 10px;
        border-color: #eee transparent transparent transparent;
        border-style: solid dashed dashed dashed;
        z-index: 10; }
      div.footer > .footer-content .contact-wechat + .feedback-qr > div.qr-top {
        width: 140px;
        height: 140px;
        padding: 10px;
        background-color: #fff; }
        div.footer > .footer-content .contact-wechat + .feedback-qr > div.qr-top > img {
          display: block;
          width: 100%;
          height: 100%; }
      div.footer > .footer-content .contact-wechat + .feedback-qr > p {
        font: normal 16px/40px Microsoft YaHei, simhei;
        text-align: center; }
    div.footer > .footer-content .logo {
      display: block;
      width: 90px;
      height: 80px;
      background: url(../images/logo-txt.svg) center center no-repeat;
      background-size: 90px 19px; }
    div.footer > .footer-content .input-group {
      width: 250px;
      height: 36px;
      margin-top: 22px; }
      div.footer > .footer-content .input-group > .form-control {
        height: 36px;
        border: none;
        border-radius: 18px;
        background-color: #20242B;
        color: #fff;
        padding-right: 40px; }
      div.footer > .footer-content .input-group > .input-group-btn > .btn {
        width: 36px;
        height: 36px;
        background-color: #ff4d37;
        border-radius: 18px;
        text-align: center;
        padding-top: 3px;
        padding-left: 6px;
        margin-left: -36px; }
        div.footer > .footer-content .input-group > .input-group-btn > .btn > .iconfont {
          color: #fff;
          font-size: 20px; }
  div.footer > .copy {
    border-top: 1px solid rgba(255, 255, 255, 0.1); }
    div.footer > .copy > p {
      display: block;
      width: 1100px;
      margin: 0 auto 0;
      padding: 10px 0;
      color: #E5E5E5;
      font-size: 12px; }
      div.footer > .copy > p > a {
        display: inline-block;
        background-color: #F67156;
        padding: 3px 15px;
        color: #fff;
        border-radius: 15px;
        margin-right: 10px;
        text-decoration: none; }

.no-data {
  overflow: visible;
  min-height: 200px; }
  .no-data:before {
    content: '玩儿命加载中...';
    display: block;
    color: #8a99a6;
    width: 200px;
    height: 60px;
    line-height: 60px;
    padding-left: 40px;
    margin: 0 auto;
    background: url(../images/loading-new.gif) 10px center no-repeat;
    background-size: 50px; }

/* ------------------- footer ------------------- */
@media (max-width: 767px) {
  body {
    padding-bottom: 0; }

  .navbar-radar {
    background-color: #20242B;
    color: #20242B;
    border-top: 2px solid #FF4D37;
    margin-bottom: 0; }
    .navbar-radar .navbar-toggle {
      float: left;
      margin-left: 15px;
      margin-right: 0;
      z-index: 2; }
      .navbar-radar .navbar-toggle > .icon-bar {
        background-color: #B9CAD7; }
    .navbar-radar .navbar-brand {
      position: absolute;
      width: 100%; }
      .navbar-radar .navbar-brand > a {
        display: block;
        width: 77px;
        margin: 0 auto;
        zoom: 1.2; }
      .navbar-radar .navbar-brand img {
        width: 77px;
        height: 18px; }
    .navbar-radar .navbar-search {
      float: right;
      color: #B9CAD7;
      padding: 0 10px;
      font-size: 20px;
      margin: 8px 15px 0 0; }
    .navbar-radar .nav > li > a {
      color: #B9CAD7;
      text-align: center; }
      .navbar-radar .nav > li > a:focus, .navbar-radar .nav > li > a:hover {
        color: #ff4d37;
        background-color: rgba(0, 0, 0, 0.1); }

  footer {
    background-color: #43484d;
    font-size: 12px;
    padding: 10px 0; }
    footer h4 {
      color: #fff; }
    footer p {
      color: #8A99A6; } }
.is-loading {
  display: inline !important;
  position: relative; }
  .is-loading:before, .is-loading:after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; }
  .is-loading:before {
    background: url(../images/is-posting.gif) center center no-repeat;
    background-size: 20px;
    z-index: 12; }
  .is-loading:after {
    background-color: #fff;
    z-index: 11;
    border-radius: 4px; }

.remain-null > .far-footer > .far-cancel {
  display: none; }

@media (max-width: 700px) {
  .header > .head-top {
    padding: 0; }

  footer.footer {
    background-color: inherit;
    padding-top: 20px;
    padding-bottom: 25px;
    position: static; }
    footer.footer .footer-info .colum {
      padding-left: 5%;
      padding-right: 0; }
    footer.footer .footer-info .colum:last-child {
      display: none; }
    footer.footer .footer-sign {
      padding: 7px 0;
      text-align: center; }
    footer.footer .footer-sign .copy {
      display: block;
      float: none;
      width: 100%;
      color: #777; } }

/*# sourceMappingURL=css.css.map */
