<html lang="en">
<head>
<meta charset="UTF-8">
<title>寻求DIY研习社媒体报道</title>
<meta content="user-scalable=no,width=device-width,initial-scale=1.0"
	name="viewport">
<link rel="stylesheet" href="/css/apply.css">
</head>
<body>
	<div class="wrap">
		<header>
			<h1>寻求在DIY研习社做分享</h1>
		</header>
		<div class="container">
			<div class="intro">您好，感谢您的信任和支持。DIY研习社是当下国内首家非商业化留学互助共享平台，致力于为所有留学申请者提供资源共享、交际交流的渠道和机会，社员和内容覆盖留学申请所有主流国家。我们从创立之初，就确立了共享和帮带的文化，老带新、先带后，在这种努力下，我们从0到1，从小到大，快速发展。因此，您如果有语言备考、名企实习、留学申请、国外生活、职场发展等有益于社员发展的经验、知识，我们非常期待您能参与到我们的分享团队里来。只要您的分享能帮到大家，您在这里，不仅可以获得广大支持者，还可以获得平台给予的一定福利～</div>
			<div class="form" action="">
				<h2>联系人信息</h2>
				<div class="entrepreneur-form-items">
					<div class="form-item">
						<label>姓名</label> <input type="text" name="name">
						<div class="tips">请填写联系人姓名</div>
					</div>
					<div class="form-item">
						<label>手机号</label> <input type="text" name="phone">
						<div class="tips">请填写联系人手机号码</div>
					</div>
					<div class="form-item">
						<label>微信</label> <input type="text" name="wechat">
						<div class="tips">请填写联系人微信</div>
					</div>
					<div class="form-item">
						<label>邮箱</label> <input type="text" name="email">
						<div class="tips">请填写联系人邮箱</div>
					</div>
					<div class="form-item">
						<label>分享内容</label> <textarea name="position"></textarea>
						<div class="tips">请填写联系人职位</div>
					</div>
				</div>
				<div class="form-item submit">
					<div class="tips">请完整填写相应资料</div>
					<div class="btn-submit" onclick="media.validateForm()">提交</div>
				</div>
			</div>
			<div class="submit-success hide">
				<p class="success">提交成功！</p>
				<p class="concat">DIY研习社工作人员会尽快与您联系！</p>
				<p class="concat">记得保持电话畅通哦！</p>
				<div class="btn">
					<a href="homepage.html">返回首页</a>
				</div>
			</div>
		</div>
	</div>
	<script src="/js/jquery.min.js"></script>
	<script src="/js/media.js"></script>
	<script>
    window.onload = function () {
        media.init()
    }
</script>

</body>
</html>