<html lang="en">
<head>
<meta charset="UTF-8">
<title>寻求DIY研习社媒体报道</title>
<meta content="user-scalable=no,width=device-width,initial-scale=1.0"
	name="viewport">
<link rel="stylesheet" href="/css/apply.css">
</head>
<body>
	<div class="wrap">
		<header>
			<h1>寻求DIY研习社媒体报道</h1>
		</header>
		<div class="container">
			<div class="intro">感谢信任，DIY研习社新媒体所有报道都是免费的。DIY研习社新媒体于2015年10月正式发布，定位移动互联网时代的福布斯，集合业内优秀原创采编团队，致力于发现优质早期创业项目，提供深度创业报道与方法论。DIY研习社的报道有自己的评价标准，不会保证每篇投递都能被报道。我们会评估产品、商业模式是否足够创新和有效，也会考察公司在垂直领域内的影响力、团队背景等因素。</div>
			<div class="form" action="">
				<h2>联系人信息</h2>
				<div class="entrepreneur-form-items">
					<div class="form-item">
						<label>姓名</label> <input type="text" name="name">
						<div class="tips">请填写联系人姓名</div>
					</div>
					<div class="form-item">
						<label>手机号</label> <input type="text" name="phone">
						<div class="tips">请填写联系人手机号码</div>
					</div>
					<div class="form-item">
						<label>微信</label> <input type="text" name="wechat">
						<div class="tips">请填写联系人微信</div>
					</div>
					<div class="form-item">
						<label>邮箱</label> <input type="text" name="email">
						<div class="tips">请填写联系人邮箱</div>
					</div>
					<div class="form-item">
						<label>职位</label> <input type="text" name="position">
						<div class="tips">请填写联系人职位</div>
					</div>
				</div>
				<div class="form-item submit">
					<div class="tips">请完整填写相应资料</div>
					<div class="btn-submit" onclick="media.validateForm()">提交</div>
				</div>
			</div>
			<div class="submit-success hide">
				<p class="success">提交成功！</p>
				<p class="concat">DIY研习社工作人员会尽快与您联系！</p>
				<p class="concat">记得保持电话畅通哦！</p>
				<div class="btn">
					<a href="homepage.html">返回首页</a>
				</div>
			</div>
		</div>
	</div>
	<script src="/js/jquery.min.js"></script>
	<script src="/js/media.js"></script>
	<script>
    window.onload = function () {
        media.init()
    }
</script>

</body>
</html>