<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="user-scalable=no,width=device-width,initial-scale=1.0">
        <meta name="keywords" content="DIY研习社,留学、美国留学、英国留学、澳洲留学、加拿大留学、韩国留学、日本留学、法国留学、德国留学、欧洲留学、新西兰留学、香港留学、新加坡留学、留学申请、留学文书、个人陈述、留学简历、留学推荐信、DIY留学、留学中介">
        <meta name="description" content="DIY研习社是国内首家留学互助共享平台，致力于为所有留学申请者提供资源共享、交际交流的渠道和机会，社员和内容覆盖留学申请所有主流国家。">
        <title></title>
        <script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?5be0eb674b2390f73d8ef4abb25cb281";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
    </head>
    <body>
    	<img id='img' src='' style='width:auto;height:auto;width:100%;display:none;'/>
    	<script src="/js/jquery.min.js"></script>
        <script>
        function checkJsonIsEmpty(json) {
			var isEmpty = true;
			if (json == null) return true;
			for (var jsonKey in json) {
				isEmpty = false;
				break;
			}
			return isEmpty;
		}
        $.post('/joingroup/getJoinGroupInfo?id=1', function(data) {
			if(checkJsonIsEmpty(data)) {
				
			} else {
				$('#img').attr('src', "/cglx/files/imgs/" + data[0].file_name);
				$('#img').show();
			}
		});
        </script>
    </body>
</html>
